.div,
.from,
.paris {
  position: relative;
  color: var(--background-paper);
}
.paris {
  flex: 1;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  font-family: var(--typography-body-1);
  text-align: left;
}
.div,
.from {
  text-align: right;
  display: inline-block;
}
.from {
  font-size: var(--typography-body-1-size);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-family: var(--typography-body-1);
  width: 52.53px;
}
.div {
  font-size: var(--font-size-19xl);
  line-height: 38px;
  font-family: var(--font-baloo-bhai);
  width: 90.92px;
}
.destinationDetails,
.details {
  display: flex;
  justify-content: flex-start;
}
.details {
  width: 90.92px;
  height: 59px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-11xs);
}
.destinationDetails {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
}
.col1,
.pariscard {
  display: flex;
  flex-direction: column;
}
.pariscard {
  align-self: stretch;
  overflow: hidden;
  padding: 0 0.29296875px;
  align-items: flex-start;
  justify-content: flex-start;
  background-image: url(/public/pariscard@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.col1 {
  cursor: pointer;
  border: 0;
  padding: 0 var(--padding-base);
  background-color: transparent;
  flex: 1;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 25%;
}
@media screen and (max-width: 1100px) {
  .col1 {
    padding: var(--padding-base);
    box-sizing: border-box;
    width: 50%;
  }
}
@media screen and (max-width: 650px) {
  .col1 {
    width: 100%;
  }
}
