.turkishIcon {
  position: relative;
  width: 34.77px;
  height: 46px;
}
.singaporeAirlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airlineSection {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
}
.am,
.sin {
  position: absolute;
  left: 0;
  display: inline-block;
}
.am {
  width: 100%;
  top: 0;
  letter-spacing: 0.32px;
  font-weight: 500;
}
.sin {
  width: 79.51%;
  top: 63.46%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
}
.departureDetails {
  position: relative;
  width: 93px;
  height: 52px;
}
.flighticon {
  position: absolute;
  height: 27.46%;
  width: 88.52%;
  top: 0;
  right: 5.5%;
  bottom: 72.54%;
  left: 5.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.h55mNonStop {
  position: absolute;
  top: 65.45%;
  left: 0;
  letter-spacing: 0.21px;
}
.flightduration {
  position: relative;
  width: 121px;
  height: 55px;
  text-align: center;
  font-size: 16px;
  color: #8e8e94;
}
.sin1 {
  position: absolute;
  width: 81.25%;
  top: 63.46%;
  left: 17.65%;
  font-size: 16px;
  letter-spacing: 0.26px;
  color: #646468;
  display: inline-block;
}
.arrivalDetails {
  position: relative;
  width: 91px;
  height: 52px;
  text-align: right;
}
.flightDetailsSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 21px;
  color: #1262af;
}
.priceSectionChild {
  position: relative;
  width: 1px;
  height: 100px;
}
.s730 {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
}
.flightCard,
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection {
  width: 128px;
  text-align: center;
  font-size: 24px;
  color: #fba403;
}
.flightCard {
  align-self: stretch;
  border-radius: 6px;
  background-color: #fff;
  border: 0.7px solid #cecece;
  padding: 0 6px 0 25px;
  gap: 50px;
  text-align: left;
  font-size: 16px;
  color: #57575d;
  font-family: Roboto;
}
@media screen and (max-width: 1100px) {
  .airlineSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .turkishIcon {
    transform: scale(0.8);
  }
  .airlineSection {
    flex-direction: row;
    width: 100% !important;
  }
  .flightduration {
    transform: scale(0.9);
  }
  .flightDetailsSection {
    flex: unset;
    align-self: stretch;
  }
  .priceSectionChild {
    display: none;
  }
  .flightCard {
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .am,
  .sin {
    font-size: 16px;
  }
  .departureDetails {
    width: 80px;
  }
  .h55mNonStop {
    font-size: 13px;
  }
  .sin1 {
    font-size: 16px;
  }
  .arrivalDetails {
    width: 80px;
  }
}
