.turkishIcon {
  position: relative;
  width: 34.77px;
  height: 46px;
}
.singaporeAirlines {
  position: relative;
  letter-spacing: 0.26px;
}
.airlineSection {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.am,
.sin {
  position: relative;
  display: inline-block;
}
.am {
  letter-spacing: 0.32px;
  font-weight: 500;
  width: 93px;
}
.sin {
  font-size: var(--typography-body-1-size);
  letter-spacing: 0.26px;
  color: var(--color-dimgray-100);
  width: 73.94px;
}
.departureDetails {
  width: 93px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.flighticon {
  position: relative;
  width: 107.11px;
  height: 15.1px;
}
.h55mNonStop {
  position: relative;
  letter-spacing: 0.21px;
}
.flightduration {
  width: 121px;
  height: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--typography-body-1-size);
  color: var(--color-gray-100);
}
.am1 {
  position: relative;
  letter-spacing: 0.32px;
  font-weight: 500;
  display: inline-block;
  width: 91px;
}
.arrivalDetails {
  width: 91px;
  height: 52px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: right;
}
.flightDetailsSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-2xl);
  color: var(--color-cornflowerblue-200);
}
.priceSectionChild {
  position: relative;
  width: 1px;
  height: 100px;
}
.s730 {
  flex: 1;
  position: relative;
  letter-spacing: 0.34px;
}
.flightCard,
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.priceSection {
  width: 128px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-orange-100);
}
.flightCard {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--background-paper);
  border: 0.7px solid var(--color-lightgray);
  padding: 0 var(--padding-7xs) 0 var(--padding-6xl);
  gap: var(--gap-31xl);
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-dimgray-300);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1100px) {
  .airlineSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 650px) {
  .turkishIcon {
    transform: scale(0.8);
  }
  .airlineSection {
    flex-direction: row;
    width: 100% !important;
  }
  .flightduration {
    transform: scale(0.9);
  }
  .flightDetailsSection {
    flex: unset;
    align-self: stretch;
  }
  .priceSectionChild {
    display: none;
  }
  .flightCard {
    flex-direction: column;
    padding: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 428px) {
  .am,
  .sin {
    font-size: var(--typography-body-1-size);
  }
  .departureDetails {
    width: 80px;
  }
  .h55mNonStop {
    font-size: var(--font-size-smi);
  }
  .am1 {
    font-size: var(--typography-body-1-size);
  }
  .arrivalDetails {
    width: 80px;
  }
}
