.results {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 500;
}
.filtersIcon {
  position: absolute;
  top: 0;
  left: 62px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.filters1 {
  position: absolute;
  top: 2.5px;
  left: 0;
  letter-spacing: 0.04em;
}
.filters {
  position: relative;
  width: 86px;
  height: 24px;
  font-size: 16px;
}
.resultsSumamry {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.map {
  border: 0;
  align-self: stretch;
  position: relative;
  height: 600px;
  display: none;
}
.resultCardsCol {
  width: 561.87px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.map1 {
  border: 0;
  align-self: stretch;
  flex: 1;
  position: relative;
}
.hotelResults,
.resultsSection {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 23px;
  font-size: 16px;
  color: #8e8e94;
}
.hotelResults {
  flex-direction: column;
  padding: 50px 80px;
  gap: 20px;
  text-align: left;
  font-size: 18px;
  color: #303030;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .hotelResults {
    padding: 40px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .map {
    display: flex;
    max-width: 1000px;
  }
  .resultCardsCol {
    width: 100% !important;
  }
  .map1 {
    display: none;
  }
  .hotelResults {
    padding: 30px 24px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .resultCardsCol {
    gap: 20px;
  }
}
