.unsplashtsn8bpopveoIcon {
  align-self: stretch;
  position: relative;
  border-radius: 7.48px;
  max-width: 100%;
  overflow: hidden;
  height: 149.51px;
  flex-shrink: 0;
  object-fit: cover;
}
.storyBeachfrontSuite {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  color: #8e8e94;
}
.discoveryShores,
.night {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
}
.discoveryShores {
  font-size: 16.45px;
  text-transform: capitalize;
}
.night {
  font-size: 13.46px;
}
.stayDetails,
.storyBeachfrontSuiteParent {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.storyBeachfrontSuiteParent {
  flex-direction: column;
  gap: 4.49px;
}
.stayDetails {
  align-self: stretch;
  flex-direction: row;
}
.div,
.reviews {
  position: absolute;
  top: 0;
  left: 40.09px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 161.74px;
  height: 14.2px;
}
.div {
  left: 15.21px;
  font-weight: 500;
  width: 17.94px;
}
.parent,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.vectorIcon {
  height: 90.47%;
  width: 37.54%;
  right: 62.46%;
  bottom: 9.53%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.parent {
  width: 33.15px;
  height: 14.2px;
  color: #303030;
}
.button,
.rating {
  position: relative;
  color: #1262af;
}
.rating {
  align-self: stretch;
  height: 14.2px;
}
.button {
  font-size: 11.21px;
  letter-spacing: 0.34px;
  line-height: 19.44px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Roboto;
  text-align: left;
  display: inline-block;
  width: 81.48px;
  height: 19.44px;
  flex-shrink: 0;
}
.hotelCard,
.hotelCard2,
.moreDetailsButton {
  align-self: stretch;
  display: flex;
  box-sizing: border-box;
}
.moreDetailsButton {
  cursor: pointer;
  border: 0.7px solid #ccdcec;
  padding: 0;
  background-color: transparent;
  border-radius: 2.99px;
  height: 34.39px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotelCard,
.hotelCard2 {
  flex: 1;
  align-items: flex-start;
  width: 25%;
}
.hotelCard {
  text-decoration: none;
  border-radius: 7.48px;
  background-color: #fff;
  border: 0.7px solid #eaeaea;
  flex-direction: column;
  padding: 11.213094711303711px 9.71801471710205px;
  justify-content: flex-start;
  gap: 17.19px;
  color: inherit;
}
.hotelCard:hover {
  background-color: rgba(226, 226, 226, 0.1);
}
.hotelCard2 {
  flex-direction: row;
  padding: 0 8.970474243164062px;
  justify-content: center;
  text-align: left;
  font-size: 11.96px;
  color: #303030;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .hotelCard {
    width: 25% !important;
  }
}
@media screen and (max-width: 1100px) {
  .hotelCard {
    width: 100%;
  }
  .hotelCard2 {
    width: 33.33%;
  }
}
@media screen and (max-width: 650px) {
  .discoveryShores {
    font-size: 20px;
  }
  .hotelCard,
  .moreDetailsButton {
    width: 100% !important;
  }
  .hotelCard {
    margin-bottom: 20px;
  }
  .hotelCard2 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
}
