.matterhornSuitesImage {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-3xs);
  max-width: 100%;
  overflow: hidden;
  height: 200px;
  flex-shrink: 0;
  object-fit: cover;
}
.entireBungalow {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.matterhornSuites,
.night {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
}
.matterhornSuites {
  font-size: var(--font-size-3xl);
  text-transform: capitalize;
}
.night {
  font-size: var(--font-size-lg);
}
.stayDetailsRows {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-7xs);
}
.videoIcon {
  position: relative;
  width: 25px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.stayDetails {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.vectorIcon {
  position: relative;
  width: 16.64px;
  height: 17.19px;
}
.div {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 24px;
  flex-shrink: 0;
}
.vectorParent {
  width: 44.34px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.reviews {
  position: relative;
  letter-spacing: 0.04em;
  color: var(--color-cornflowerblue-200);
  display: inline-block;
  width: 216.37px;
  flex-shrink: 0;
}
.rating {
  width: 270px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.button {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--typography-body-1);
  color: var(--color-cornflowerblue-200);
  text-align: left;
}
.moreDetailsButton {
  cursor: pointer;
  border: 1px solid var(--color-lavender);
  padding: 0;
  background-color: transparent;
  align-self: stretch;
  border-radius: var(--br-9xs);
  box-sizing: border-box;
  height: 46px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotelCard,
.hotelCard1 {
  flex: 1;
  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  width: 25%;
}
.hotelCard {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--background-paper);
  border: 1px solid var(--color-whitesmoke-200);
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-smi);
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.hotelCard:hover {
  background-color: var(--color-gainsboro-300);
  cursor: pointer;
}
.hotelCard1 {
  flex-direction: row;
  padding: 0 var(--padding-xs);
  justify-content: center;
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-darkslategray-600);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1200px) {
  .hotelCard {
    width: 25% !important;
  }
}
@media screen and (max-width: 1100px) {
  .hotelCard {
    width: 100%;
  }
  .hotelCard1 {
    width: 33.33%;
  }
}
@media screen and (max-width: 650px) {
  .matterhornSuites {
    font-size: var(--font-size-xl);
  }
  .hotelCard,
  .moreDetailsButton {
    width: 100% !important;
  }
  .hotelCard {
    margin-bottom: 20px;
  }
  .hotelCard1 {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
}
