.option {
  position: relative;
  letter-spacing: 0.15px;
  line-height: 150%;
}
.menuItem,
.menuitem {
  padding: var(--padding-7xs) var(--padding-base);
}
.menuitem {
  background-color: var(--background-paper);
  width: 347px;
  height: 36px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.menuItem {
  align-self: stretch;
  background-color: var(--action-hover);
  justify-content: flex-start;
}
.list,
.menuItem,
.menuitem1,
.menuitem3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.menuitem1 {
  align-self: stretch;
  background-color: var(--background-paper);
  padding: var(--padding-7xs) var(--padding-base);
  justify-content: center;
}
.list,
.menuitem3 {
  width: 347px;
  box-sizing: border-box;
}
.menuitem3 {
  background-color: var(--background-paper);
  padding: var(--padding-7xs) var(--padding-base);
  justify-content: center;
}
.list {
  position: relative;
  padding: var(--padding-5xs) 0;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--text-primary);
  font-family: var(--typography-body-1);
}
