.primaryButtonChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-7xs);
  background-color: var(--color-orange-200);
}
.searchFlights {
  position: absolute;
  top: calc(50% - 10.5px);
  left: calc(50% - 62.5px);
  letter-spacing: 0.04em;
  font-weight: 500;
}
.primaryButton {
  width: 220px;
  height: 72px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--background-paper);
  font-family: var(--typography-body-1);
}
