.sin {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 44.73px;
}
.durationIcon,
.fromDetails {
  position: relative;
  width: 44.73px;
  height: 28px;
}
.durationIcon {
  width: 117.35px;
  height: 24px;
}
.lax {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  display: inline-block;
  width: 51.27px;
}
.toDetails {
  position: relative;
  width: 51.27px;
  height: 28px;
  text-align: right;
}
.toAndFrom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.departOn7Container {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #000;
}
.flightMainContainer {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 21px;
  text-align: left;
  font-size: 24px;
  color: #1262ae;
  font-family: Roboto;
}
@media screen and (max-width: 1200px) {
  .flightMainContainer {
    width: 520px;
  }
}
@media screen and (max-width: 1100px) {
  .flightMainContainer {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    flex: unset;
    align-self: stretch;
  }
}
