.resultsImageIcon {
  position: relative;
  border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  width: 260px;
  height: 220px;
  object-fit: cover;
}
.holidayInnExpre,
.kingBedStandard {
  align-self: stretch;
  position: relative;
}
.kingBedStandard {
  letter-spacing: 0.02em;
  color: var(--color-gray-100);
}
.holidayInnExpre {
  margin: 0;
  font-size: var(--font-size-3xl);
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
}
.vectorIcon {
  position: relative;
  width: 15.99px;
  height: 16px;
}
.div {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 23.99px;
  flex-shrink: 0;
}
.stars {
  width: 45.98px;
  height: 19px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.reviews {
  position: relative;
  letter-spacing: 0.04em;
  color: var(--color-cornflowerblue-200);
  display: inline-block;
  width: 117.94px;
  flex-shrink: 0;
}
.resultAndVideo,
.review {
  display: flex;
  justify-content: flex-start;
}
.review {
  align-self: stretch;
  height: 19px;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-4xs);
}
.resultAndVideo {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-7xs);
}
.videoIcon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.resultsTitle {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.night,
.s286 {
  position: relative;
  letter-spacing: 0.02em;
}
.s286 {
  text-transform: capitalize;
}
.night {
  font-size: var(--font-size-sm);
}
.pricing {
  width: 112px;
  height: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-12xs);
}
.priceAndCta {
  width: 164.49px;
  height: 83.58px;
  flex-direction: column;
  gap: var(--gap-2xs);
  font-size: var(--font-size-3xl);
}
.priceAndCta,
.resultsCard,
.resultsDetails {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.resultsDetails {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-mini) var(--padding-xs) var(--padding-mini) 0;
  gap: var(--gap-12xl);
}
.resultsCard {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-cornflowerblue-400);
  flex-direction: row;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--typography-body-1-size);
  color: var(--color-darkslategray-600);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 650px) {
  .resultsImageIcon {
    width: 100% !important;
    border-radius: 10px !important;
  }
  .resultsDetails {
    width: 100%;
    padding: var(--padding-mini);
    box-sizing: border-box;
    flex: unset;
    align-self: stretch;
  }
  .resultsCard {
    flex-direction: column;
  }
}
