.whereAreYou {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 67px;
  font-weight: 400;
  font-family: inherit;
}
.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.departureField,
.title {
  align-self: stretch;
}
.inputGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: var(--padding-8xs);
  align-items: center;
  justify-content: center;
}
.inputsRow {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  position: relative;
  font-size: var(--components-button-large-size);
  letter-spacing: 0.46px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--typography-body-1);
  color: var(--background-paper);
  text-align: center;
  display: inline-block;
  width: 146.98px;
}
.buttonGroup,
.searchFlightsButton,
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchFlightsButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  transition: 0.3s;
}
.searchFlightsButton:hover {
  background-color: var(--color-darkorange);
}
.buttonGroup,
.searchForm {
  padding: var(--padding-8xs);
}
.searchForm {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--background-paper);
  flex-direction: row;
  padding: var(--padding-xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.searchSection {
  padding: 0 var(--padding-61xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xl);
  width: 100%;
}
.searchContainer,
.searchFormSection,
.searchSection {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.searchContainer {
  align-items: center;
  justify-content: center;
  background-image: url(/public/search-container@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-42xl);
  color: var(--background-paper);
  font-family: var(--font-baloo-bhai);
}
.searchFormSection {
  background: linear-gradient(100.3deg, #114f8b, #2a9ad7);
  align-items: flex-start;
  justify-content: flex-start;
}
@media screen and (max-width: 1100px) {
  .whereAreYou {
    font-size: var(--font-size-23xl);
    line-height: 48px;
  }
  .inputsRow {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .searchFlightsButton {
    margin-right: auto;
  }
  .buttonGroup {
    width: 100%;
    text-align: left;
  }
  .searchForm {
    flex-direction: column;
  }
  .searchSection {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    width: 100%;
    top: calc(44% - 96.5px - 0px);
  }
}
@media screen and (max-width: 650px) {
  .whereAreYou {
    font-size: var(--font-size-12xl);
    line-height: 40px;
  }
  .inputGroup {
    width: 100%;
    flex: unset;
    align-self: stretch;
  }
  .inputsRow {
    flex-direction: column;
  }
  .searchFlightsButton {
    width: 100% !important;
  }
  .searchSection {
    width: 100%;
    top: calc(32% - 96.5px - 0px);
  }
}
