.frameChild,
.results {
  align-self: stretch;
  position: relative;
}
.results {
  letter-spacing: 0.26px;
}
.frameChild {
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.resultsParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--font-size-xl);
}
.results1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.26px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 65.26px;
}
.component1formcheckbox {
  align-self: stretch;
}
.frame {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame,
.results2,
.stops {
  align-self: stretch;
}
.stops {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.results2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.26px;
  font-weight: 700;
  font-family: inherit;
}
.frame2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.results4 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.26px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 87.77px;
}
.frame3 {
  width: 181px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  gap: var(--gap-base);
}
.airlines,
.frame3,
.searchFilters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.airlines {
  align-self: stretch;
  height: 106px;
  gap: var(--gap-5xl);
}
.searchFilters {
  width: 253px;
  gap: var(--gap-20xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-300);
  font-family: var(--typography-body-1);
}
@media screen and (max-width: 1200px) {
  .searchFilters {
    display: none;
  }
}
