.recentSearches {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.recentSearches1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.hotelIcon {
  position: relative;
  width: 65.39px;
  height: 65.39px;
}
.hotel1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  color: #8e8e94;
  text-align: left;
}
.hotel {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #ff9b53;
  width: 65.39px;
  height: 65.39px;
}
.ticketIcon {
  position: absolute;
  height: 47.93%;
  width: 48.38%;
  top: 26.04%;
  right: 25.81%;
  bottom: 26.03%;
  left: 25.81%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.attractions1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  color: #8e8e94;
  text-align: center;
}
.background1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #fdbf00;
  width: 65.39px;
  height: 65.39px;
}
.trainIcon {
  position: absolute;
  height: 48.43%;
  width: 41.17%;
  top: 26.51%;
  right: 29.42%;
  bottom: 25.06%;
  left: 29.42%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.background2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #4dabff;
  width: 70px;
  height: 65.39px;
}
.taxiIcon1 {
  position: absolute;
  height: 40.15%;
  width: 40.52%;
  top: 29.63%;
  right: 29.74%;
  bottom: 30.22%;
  left: 29.74%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.taxiIcon {
  position: relative;
  width: 70px;
  height: 65.39px;
}
.taxi1 {
  position: relative;
  font-size: 15px;
  letter-spacing: 0.04em;
  font-family: Roboto;
  color: #8e8e94;
  text-align: center;
  display: inline-block;
  width: 32.12px;
}
.background3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 16px;
  background-color: #79ca00;
  width: 65.39px;
  height: 65.39px;
}
.movieIcon {
  position: absolute;
  height: 35.6%;
  width: 39.93%;
  top: 32.2%;
  right: 30.04%;
  bottom: 32.2%;
  left: 30.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tripMenus {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.prepareMenu {
  justify-content: center;
  gap: 20px;
  font-size: 18px;
  color: #cecece;
}
.flightDetails,
.prepareMenu,
.upcomingFlightSection,
.upcomingFlightSection1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.flightDetails {
  justify-content: center;
  gap: 36px;
  font-size: 24px;
  color: #1262ae;
}
.upcomingFlightSection,
.upcomingFlightSection1 {
  justify-content: flex-start;
}
.upcomingFlightSection1 {
  gap: 20px;
}
.upcomingFlightSection {
  text-align: left;
  font-size: 18px;
  color: #303030;
  font-family: Roboto;
}
@media screen and (max-width: 1100px) {
  .recentSearches1 {
    flex-direction: column;
  }
  .prepareMenu {
    width: 100%;
  }
  .flightDetails {
    flex-direction: column;
  }
  .upcomingFlightSection {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  .hotel {
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
  }
  .tripMenus {
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -28px;
    margin-right: -28px;
  }
}
