.formTitle,
.formTitleSubtext {
  align-self: stretch;
  position: relative;
}
.formTitleSubtext {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.formTitle {
  font-size: var(--font-size-11xl);
  color: var(--color-darkslategray-400);
}
.formHeader {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.fillInYour {
  position: relative;
  line-height: 34px;
}
.fillInYour,
.formText,
.input {
  align-self: stretch;
}
.formText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border: 0;
  background-color: transparent;
}
.button,
.formFields {
  display: flex;
  flex-direction: column;
}
.formFields {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-orange-200);
  border-radius: var(--br-9xs);
  width: 164px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.button:hover {
  background-color: var(--color-darkorange);
}
.form,
.shareYourTravelsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.form {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--background-paper);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.03);
  border: 1px solid var(--color-whitesmoke-200);
  padding: var(--padding-9xl) var(--padding-11xl);
  align-items: flex-start;
  gap: var(--gap-mid);
  text-align: left;
  color: var(--color-slategray-100);
}
.shareYourTravelsForm {
  width: 549px;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-11xl);
  margin-left: auto;
  margin-right: auto;
  position: relative !important;
  left: auto !important;
}
.logoIcon,
.subscribeSection {
  overflow: hidden;
  flex-shrink: 0;
}
.subscribeSection {
  align-self: stretch;
  height: 529px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-23xl) 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  background-image: url(/public/subscribe-section@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.logoIcon {
  position: relative;
  width: 174px;
  height: 33px;
}
.fickleFlightIs {
  align-self: stretch;
  position: relative;
  line-height: 27px;
}
.socialIcons {
  position: relative;
  width: 130px;
  height: 30px;
}
.fickleflightBio {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-sm);
  margin-bottom: 40px !important;
}
.footerChild {
  position: relative;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1px;
  height: 157.87px;
}
.aboutUs,
.company1 {
  position: relative;
  display: inline-block;
}
.company1 {
  line-height: 27px;
  font-weight: 500;
  width: 174.72px;
}
.aboutUs {
  font-size: var(--typography-body-1-size);
  width: 135.67px;
}
.frame {
  width: 174.72px;
  height: 66.76px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.careers,
.news {
  position: relative;
  display: inline-block;
  width: 84.28px;
}
.careers {
  width: 115.11px;
}
.frame1 {
  width: 115.11px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.howWeWork {
  position: relative;
  display: inline-block;
  width: 197.33px;
}
.company {
  width: 197.33px;
  height: 159.76px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.account,
.support1 {
  position: relative;
  display: inline-block;
}
.support1 {
  line-height: 27px;
  font-weight: 500;
  width: 131.56px;
}
.account {
  font-size: var(--typography-body-1-size);
  width: 109.63px;
}
.frame2 {
  width: 131.56px;
  height: 66.76px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.faq {
  position: relative;
  display: inline-block;
  width: 52.99px;
}
.frame3 {
  width: 197.33px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.accessibility {
  width: 164.44px;
}
.accessibility,
.covidAdvisory,
.more1 {
  position: relative;
  display: inline-block;
}
.more1 {
  line-height: 27px;
  font-weight: 500;
  width: 76.65px;
}
.covidAdvisory {
  font-size: var(--typography-body-1-size);
  width: 172.87px;
}
.frame4 {
  width: 172.87px;
  height: 66.76px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-xl);
}
.airlineFees,
.tips {
  position: relative;
  display: inline-block;
  width: 135.36px;
}
.tips {
  width: 50.56px;
}
.frame5 {
  width: 135.36px;
  height: 50px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.footerLinks,
.frame5,
.more {
  display: flex;
  align-items: flex-start;
}
.more {
  width: 197.33px;
  height: 159.76px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.footerLinks {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--typography-body-1-size);
}
.footer,
.footerSection {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-lg);
  font-family: var(--typography-body-1);
}
.footer {
  background: linear-gradient(91.74deg, #0b5ba8 25.38%, #299bd8);
  flex-direction: row;
  padding: var(--padding-14xl) var(--padding-65xl);
  gap: var(--gap-25xl);
  text-align: left;
  color: var(--background-paper);
}
.footerSection {
  flex-direction: column;
  text-align: center;
  color: var(--color-cornflowerblue-300);
}
@media screen and (max-width: 1200px) {
  .footer {
    padding: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1100px) {
  .shareYourTravelsForm {
    padding: var(--padding-5xl) 0;
    box-sizing: border-box;
  }
  .fickleflightBio {
    flex: unset;
    align-self: stretch;
  }
  .footerChild {
    display: none;
  }
  .footerLinks {
    flex: unset;
    align-self: stretch;
  }
  .footer {
    flex-direction: column;
    padding: var(--padding-21xl) var(--padding-5xl) var(--padding-11xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 650px) {
  .button {
    width: 100%;
  }
  .button:hover {
    background-color: var(--color-peru);
  }
  .shareYourTravelsForm {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative !important;
    left: auto !important;
    width: 100%;
  }
  .company {
    margin-bottom: 40px !important;
  }
  .footerLinks {
    flex-direction: column;
  }
  .footer {
    padding: var(--padding-11xl) var(--padding-5xl);
    box-sizing: border-box;
  }
}
